[Unit]
Description=qundr-sec-ops
Requires=docker.service qundr-init.service
After=multi-user.target docker.service qundr-init.service qundr-aggregation-reporting.service

[Service]
Environment="QNE_APP=QuNDR" "EXEC_USER=root" "EXEC_GROUP=root"
Environment="SCRIPT_PATH=/var/lib/qne-qundr/sec-ops/scripts"
Environment="CORRELATION_SCRIPT_PATH=/var/lib/qne-qundr/correlation-rule/scripts"
Environment="CONTROL_SH=control.sh"
Type = simple
User=root
Group=root

ProtectHome=read-only
ProtectSystem=full
ReadWritePaths=/var/run/ /var/log/ /var/cache/
PermissionsStartOnly=true

ExecStartPre=/usr/sbin/qne-storage-util --data_vol -c -p qne-qundr -o qne || true
ExecStartPre=/bin/bash -c '${SCRIPT_PATH}/control.sh stop'
ExecStartPost=/bin/bash -c 'if [ -f "$CORRELATION_SCRIPT_PATH/$CONTROL_SH" ]; then ${CORRELATION_SCRIPT_PATH}/control.sh load_tasks; fi'
ExecStartPost=/bin/bash -c 'if [ -f "$SCRIPT_PATH/$CONTROL_SH" ]; then $SCRIPT_PATH/control.sh configure; fi'
ExecStart=/bin/bash -c '${SCRIPT_PATH}/control.sh start'

[Install]
WantedBy=multi-user.target

