[Unit]
Description=ndr_manager
Requires=docker.service qundr-init.service
After=multi-user.target docker.service qundr-init.service

[Service]
Environment="QNE_APP=QuNDR" "EXEC_USER=root" "EXEC_GROUP=root"
Environment="SCRIPT_PATH=/.data/qne-qundr/sec-ops/scripts"
Environment="CORRELATION_SCRIPT_PATH=/.data/qne-qundr/correlation-rule/scripts"
Environment="CONTROL_SH=control.sh"
Type = simple
tty = true
User=root
Group=root

ProtectHome=read-only
ProtectSystem=full
ReadWritePaths=/var/run/ /var/log/ /var/cache/
PermissionsStartOnly=true

ExecStartPre=
ExecStartPost=/bin/bash -c 'if [ -f "$CORRELATION_SCRIPT_PATH/$CONTROL_SH" ]; then ${CORRELATION_SCRIPT_PATH}/control.sh load_tasks; fi'
ExecStartPost=/bin/bash -c 'if [ -f "$SCRIPT_PATH/$CONTROL_SH" ]; then $SCRIPT_PATH/control.sh configure; fi'
ExecStart=/bin/bash -c '${SCRIPT_PATH}/control.sh start'

[Install]
WantedBy=multi-user.target

